<app-back-button></app-back-button>
<app-loading *ngIf="loading"></app-loading>

<div *ngIf="movie && !loading">
    <div class="row main-title">
        <h1>{{ movie.title | uppercase}}</h1>
        <div class="genres">
                <span *ngFor="let genre of movie.genres" class="badge badge-pilll badge-light">{{ genre.name }}</span>
        </div>
    </div>

    <div (click)="trailer = true" class="row backdrop-trailer" [ngStyle]="{'background-image': 'url(' + (movie.backdrop_path | imgurl:'w780') + ')' }" [ngClass]="{'grayscale': !trailer}" >
        <div *ngIf="!trailer"  class="play-trailer">
            <i class="far fa-play-circle fa-7x"></i>
            <span>Watch Trailer</span>
        </div>
        <div class="col-12 videoWrapper">
            <iframe *ngIf="trailer" [src]="movie.videos.results | lastTrailer | youtubeVideo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="poster-info" [ngClass]="{'down': trailer}">

                <div class="poster">
                    <img id="moviePoster" [src]="movie.poster_path | imgurl" alt="">
                </div>
    
                
                <div class="runtime-release row">
                    <div *ngIf="movie.runtime" class="col-6">
                        <i class="far fa-clock"></i>
                        <span>{{ movie.runtime | time }}</span>
                    </div>
                    <div class="col-6" [ngClass]="{'col-12': !movie.runtime}">
                        <i class="far fa-calendar-alt"></i>
                        <span>{{ movie.release_date | date }}</span>
                    </div>
                </div>
                <hr>
                <app-user-score [score]="movie.vote_average"></app-user-score>
                <app-crew-info [crew]="credits.crew"></app-crew-info>
            </div>

        </div>

        <div class="col-md-8 col-sm-12 info">
            <app-movie-info [movie]="movie" [cast]="credits.cast"></app-movie-info>
        </div>
    </div>
</div>
